<header class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="annuaire.html">
      <img
        src="public/assets/img/camairco-logo.png"
        alt="Camair-Co"
        height="40"
        class="rounded-circle shadow"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-light" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link text-light" href="annuaire.html"
            ><i class="fas fa-home"></i> Accueil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="profil.html"
            ><i class="fas fa-user"></i> Mon Profil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="dashboard.html">
            <i class="fas fa-gear"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger ms-2" id="logoutBtn">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
          </button>
        </li>
      </ul>
    </div>
  </div>
  <script type="module">
    import { getUserData } from "../js/api.js";

    //Verifier si l'utilisateur est admin
    const userData = getUserData();
    if (userData && userData.isadmin === 1) {
      document.querySelector(".admin-link").style.display = "block";
    }
  </script>
</header>
